html {background-color: ; color: #CCBAA4; border-style: inset; }

form {white-space: nowrap; }

.description {font-size: 50;
display: flex;
justify-content: center;}

.name, .address, .training, h3, h4, {font-family: sans-serif;
}

.required_line_required_asterisk {color: red;}

#center {text-align: center}
body {padding-left: 15%; padding-right: 15%;}

input[type="text"] {
    width: 55%;
}

fieldset {border-radius: 9px}
